// Variables go here - Colors, fonts, breakpoints  ect.
//Breakpoints
$breakpoint-tab: 680px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1400px; 

// colors
$dark: #242424;
$light: #DEDEDE;

$colorset1: #DC0A2D; // red
$colorset2: #51AD60; // green
$colorset3: #28AAFD; // blue
$colorset4: #A08C10; // yellow
// fonts --

$headerfont: 'Oswald', sans-serif;
$textfont: 'Roboto', sans-serif;

// WIDTHS
$fullwidth: 100%;
