// Variables go here - Colors, fonts, breakpoints  ect.
//Breakpoints
$breakpoint-tab: 680px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1400px; 

// colors
$dark: black;
$light: #fefefe;

$colorset1: #d03737;
$colorset2: #08b09f;
$colorset3: #1160aa;
$colorset4: #606470;
// fonts --

$headerfont: 'Oswald', sans-serif;
$textfont: 'Roboto', sans-serif;

// WIDTHS
$fullwidth: 100%;
